# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Environment variables
.env
.env.*

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python packaging
*.egg
*.egg-info/
dist/
build/
*.wheel

# Node (if using frontend in same repo)
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store
